<!DOCTYPE html>
<html>
<head>
  <title>GifGenerator</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
    <% flash.each do |message| %>
      <h3 class="flash-<%= message.first %>"><%= message.last %></h3>
      <% end %>

<%= yield %>

</body>
</html>
